@font-face {
  font-family: Geologica;
  font-display: swap;
  src: url("../fonts/Geologica-Bold.woff2") format("woff2"), url("../fonts/Geologica-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Geologica;
  font-display: swap;
  src: url("../fonts/Geologica-Medium.woff2") format("woff2"), url("../fonts/Geologica-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Geologica;
  font-display: swap;
  src: url("../fonts/Geologica-Regular.woff2") format("woff2"), url("../fonts/Geologica-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Geologica;
  font-display: swap;
  src: url("../fonts/Geologica-SemiBold.woff2") format("woff2"), url("../fonts/Geologica-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Geologica;
  font-display: swap;
  src: url("../fonts/Geologica-Light.woff2") format("woff2"), url("../fonts/Geologica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3d3d3d;
  line-height: 1;
  font-family: "Geologica", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Geologica", sans-serif;
  font-size: inherit;
  line-height: 1;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.page-gradient .wrapper {
  background: linear-gradient(103.72deg, #e4f8ff 0.6%, rgba(255, 255, 255, 0) 84.32%);
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 1.25rem;
  font-weight: 300;
  font-size: 1.25rem;
  color: #fff;
  border-radius: 0.1875rem;
  background-color: #3d3d3d;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=date] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  border-radius: 0.3125rem !important;
  width: 100%;
  display: block;
  padding: 0rem 1rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  font-weight: 300;
  font-size: 0.875rem;
  color: #828282;
  height: 3.125rem;
}

.input::-webkit-input-placeholder {
  opacity: 1;
}

.input::-moz-placeholder {
  opacity: 1;
}

.input:-ms-input-placeholder {
  opacity: 1;
}

.input::-ms-input-placeholder {
  opacity: 1;
}

.input::placeholder {
  opacity: 1;
}

textarea.input {
  resize: none;
  padding: 1rem;
  height: 12.125rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: #3d3d3d;
  text-align: left;
  font-weight: 300;
  cursor: pointer;
  width: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.625rem;
          flex: 0 0 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/sel-arrow.svg") 50%/100% no-repeat;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #3d3d3d;
  position: absolute;
  top: 1.8125rem;
  border-radius: 0 0 0.3125rem 0.3125rem;
  overflow: hidden;
  min-width: 100%;
  left: 0;
  background-color: #fff;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 0.3125rem 0.5rem;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.25;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  top: calc(100% + 0.3125rem);
  left: 0;
  width: 10rem;
  height: 0.25rem;
  background-color: #3f91cb;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.625rem 0rem;
  border-bottom: 0.0625rem solid #3f91cb;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.0625rem;
          flex: 0 0 8.0625rem;
  width: 8.0625rem;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__decor {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.0625rem;
          flex: 0 0 9.0625rem;
  width: 9.0625rem;
}

.header__decor img {
  width: 100%;
  height: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
}

.menu__link {
  font-weight: 300;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #1e1e1e;
  padding: 1.5625rem 0rem 1.25rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 17.4375rem;
}

.footer__logo img {
  width: 100%;
  height: auto;
}

.footer__copy {
  font-weight: 300;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.2;
}

.footer__contacts {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.25rem;
  white-space: nowrap;
}

.footer__phone {
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.footer__mail {
  font-weight: 300;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.hero {
  background: linear-gradient(103.72deg, #e4f8ff 0.6%, rgba(255, 255, 255, 0) 84.32%);
  padding-bottom: 9.3125rem;
}

.hero__body {
  padding-top: 5.875rem;
  position: relative;
}

.no-webp .hero__body::after {
  background: url("../img/hero-decor.png") 50%/100% no-repeat; }

.hero__body::after {
  content: "";
  position: absolute;
  right: -4.3125rem;
  bottom: -4.125rem;
  width: 42rem;
  height: 30.75rem;
}

.hero__title {
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.1;
  position: relative;
  z-index: 2;
}

.hero__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.hero__descr {
  font-weight: 300;
  color: #000;
  max-width: 33.75rem;
  position: relative;
  z-index: 2;
  line-height: 1.25;
}

.hero__descr:not(:last-child) {
  margin-bottom: 3.25rem;
}

.hero-form {
  border: 0.0625rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0 0.3125rem 0.3125rem 0.3125rem;
  padding: 1.6875rem 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 2;
}

.hero-form__input {
  height: 2.5rem;
  padding: 0rem 0.625rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.3);
  font-size: 0.75rem;
  color: #828282;
}

.hero-form__btn {
  font-size: 1rem;
  white-space: nowrap;
}

.premium {
  padding-top: 2.5625rem;
}

.premium__cols {
  gap: 1.25rem;
}

.premium__cols:not(:last-child) {
  margin-bottom: 4.0625rem;
}

.premium__body {
  border-radius: 0.3125rem;
  background-color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  padding: 2.0625rem 2.125rem 1.3125rem;
  position: relative;
}

.no-webp .premium__decor {
  background: url("../img/premium-decor.png") 50%/100% no-repeat; }

.premium__decor {
  width: 31.5rem;
  height: 22rem;
  position: absolute;
  top: -3.9375rem;
  left: -4.3125rem;
  pointer-events: none;
}

.premium__zevs {
  width: 16.625rem;
}

.premium__zevs img {
  width: 100%;
  height: auto;
}

.premium__content {
  color: #fff;
}

.premium__label {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.25;
}

.premium__label:not(:last-child) {
  margin-bottom: 0.5rem;
}

.premium__descr {
  font-weight: 300;
  color: #c9c9c9;
  line-height: 1.35;
  max-width: 31.75rem;
}

.col-premium {
  text-align: center;
}

.col-premium__cap {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.25;
}

.col-premium__cap:not(:last-child) {
  margin-bottom: 0.75rem;
}

.col-premium__descr {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.25;
}

.advantages {
  padding: 5rem 0rem 4.1875rem;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.advantages__title:not(:last-child) {
  margin-bottom: 3.125rem;
}

.advantages__image {
  width: 100%;
  border-radius: 0.3125rem;
  overflow: hidden;
}

.advantages__image img {
  width: 100%;
  height: auto;
}

.advantages__right p {
  font-weight: 300;
  line-height: 1.25;
}

.advantages__right p span {
  font-weight: 500;
}

.advantages__right p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.about {
  padding: 1.6875rem 0rem 2.5rem;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.about__content p {
  font-weight: 300;
  line-height: 1.25;
}

.about__content p span {
  font-weight: 500;
}

.about__content p:not(:last-child) {
  margin-bottom: 1rem;
}

.about__content img {
  border-radius: 0.3125rem;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 1.25rem;
}

.about__title:not(:last-child) {
  margin-bottom: 2.25rem;
}

.callback-about__title:not(:last-child) {
  margin-bottom: 2.6875rem;
}

.callback-about__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.callback-about__line:not(:last-child) {
  margin-bottom: 0.75rem;
}

.callback-about__line span {
  font-weight: 300;
  color: #000;
}

.callback-about__btn {
  width: 100%;
}

.filter {
  padding: 3.1875rem 0rem;
}

.filter__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__title {
  font-size: 0.875rem;
  padding: 0.875rem 0.75rem 0.8125rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  background-color: #f5f5f5;
  border: 0.0625rem solid #b2b2b2;
  border-bottom: none;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: relative;
}

.filter__title:not(:first-child) {
  border-left: none;
}

.filter__title::after {
  position: absolute;
  bottom: -0.0625rem;
  left: 0;
  right: 0;
  height: 0.0625rem;
  background-color: #fff;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.filter__title._tab-active {
  background-color: #fff;
}

.filter__title._tab-active::after {
  opacity: 1;
}

.filter__body {
  background-color: #fff;
  border: 0.0625rem solid rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(16px);
  border-radius: 0 0.3125rem 0.3125rem 0.3125rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.filter__descr {
  font-weight: 300;
  font-size: 0.875rem;
  color: #000;
}

.form-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.6875rem 1.25rem;
  gap: 2rem;
  min-height: 6.5rem;
}

.form-filter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.form-filter__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  border-right: 0.0625rem solid #b2b2b2;
  padding-right: 0.625rem;
}

.form-filter__cap {
  display: inline-block;
  font-weight: 300;
  font-size: 0.75rem;
  color: #828282;
  line-height: 1.25;
}

.form-filter__cap:not(:last-child) {
  margin-bottom: 0.1875rem;
}

.form-filter__btn {
  height: 2.5rem;
  font-size: 1rem;
  white-space: nowrap;
}

.form-filter__input {
  height: 2.5rem;
  padding: 0rem 0.625rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.3);
  font-size: 0.75rem;
  color: #828282;
}

.products {
  padding-bottom: 4.1875rem;
}

.products-row:not(:last-child) {
  margin-bottom: 3.125rem;
}

.products-row__label {
  font-weight: 500;
  font-size: 1.25rem;
  color: #000;
  line-height: 1.25;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
}

.products-row__label span {
  font-weight: 300;
  font-size: 0.875rem;
}

.products-row__label:not(:last-child) {
  margin-bottom: 1.125rem;
}

.products-row__cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.8125rem;
}

.product {
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
}

.product__image {
  display: block;
  position: relative;
  padding-bottom: 94.5606694561%;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3125rem;
  overflow: hidden;
}

.product__image:not(:last-child) {
  margin-bottom: 0.75rem;
}

.product__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.product__name a {
  font-weight: 500;
  line-height: 1.25;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.product__name:not(:last-child) {
  margin-bottom: 0.75rem;
}

.product__btn {
  width: 100%;
  font-size: 1rem;
}

.product-codes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.product-item .product-codes {
  gap: 4rem;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.product-codes:not(:last-child) {
  margin-bottom: 0.75rem;
}

.product-item .product-codes:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.product-codes__item {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.2857142857;
}

.product-codes__cap_polmo {
  color: #00943e;
}

.product-codes__cap_bosal {
  color: #0d00ff;
}

.product-item {
  padding-bottom: 3.0625rem;
}

.product-item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.75rem;
}

.product-item__image {
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3125rem;
  overflow: hidden;
}

.product-item__image img {
  width: 100%;
  height: auto;
}

.product-item__content p {
  font-weight: 300;
  color: #000;
  line-height: 1.25;
}

.product-item__content p a {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.product-item__content p:not(:last-child) {
  margin-bottom: 1rem;
}

.product-item__label {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
}

.product-item__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.search {
  padding-bottom: 12.5rem;
}

.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.search__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
}

.search__head span {
  color: #000;
}

.search__head > span {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.2857142857;
}

.search__head:not(:last-child) {
  margin-bottom: 1.125rem;
}

.search__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__filter span {
  font-weight: 500;
  font-size: 1.25rem;
}

.search__filter span:not(:last-child) {
  margin-right: 0.875rem;
}

.search__filter span:not(:last-child)::after {
  margin-left: 0.875rem;
  content: "/";
}

.search__cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.8125rem;
}

.search-catalog__item:not(:last-child) {
  margin-bottom: 0.75rem;
}

.search-catalog__title {
  font-weight: 300;
  color: #000;
  padding: 0.5rem 0rem;
  border-bottom: 0.0625rem solid #b2b2b2;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.search-catalog__title span {
  border-radius: 0.1875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #e8e8e8;
  position: relative;
}

.search-catalog__title span::before,
.search-catalog__title span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.5rem;
  height: 0.0625rem;
  background-color: #000;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.search-catalog__title span::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.search-catalog__title._spoller-active span::after {
  opacity: 0;
}

.search-catalog__body {
  padding-left: 1.5625rem;
  padding-top: 0.625rem;
}

.sub-search-spollers__item:not(:last-child) {
  margin-bottom: 0.25rem;
}

.sub-search-spollers__title {
  font-weight: 300;
  color: #000;
  padding: 0.5rem 0rem;
  border-bottom: 0.0625rem solid #b2b2b2;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.sub-search-spollers__title span {
  border-radius: 0.1875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #e8e8e8;
  position: relative;
}

.sub-search-spollers__title span::before,
.sub-search-spollers__title span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.5rem;
  height: 0.0625rem;
  background-color: #000;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sub-search-spollers__title span::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.sub-search-spollers__title._spoller-active span::after {
  opacity: 0;
}

.sub-search-spollers__body {
  padding-left: 1.25rem;
  padding-top: 0.4375rem;
}

.sub-search-spollers__button {
  font-weight: 300;
  color: #000;
  padding: 0.5rem 0rem;
  width: 100%;
  text-align: left;
  border-bottom: 0.0625rem solid #b2b2b2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sub-search-spollers__button.active {
  background-color: #e8e8e8;
  padding-left: 0.75rem;
}

@media (min-width: 29.99875em) {
  .filter__title::after {
    content: "";
  }

  .form-filter__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 47.99875em) {
  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17.4375rem;
            flex: 0 0 17.4375rem;
  }

  .footer__copy {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .footer__contacts {
    text-align: right;
  }

  .hero-form__btn {
    min-width: 14.375rem;
  }

  .form-filter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form-filter__btn {
    min-width: 14.375rem;
  }
}

@media (min-width: 61.99875em) {
  .hero-form {
    max-width: 51.5625rem;
  }

  .premium__cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .premium__body {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .premium__zevs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.625rem;
            flex: 0 0 16.625rem;
    margin-bottom: 1.8125rem;
  }

  .advantages__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 21.875rem;
            flex: 0 0 21.875rem;
  }

  .callback-about {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 21.875rem;
            flex: 0 0 21.875rem;
  }

  .filter__tabs {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .filter__body {
    min-width: 51.5625rem;
  }

  .product-item__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.875rem;
            flex: 0 0 33.875rem;
    width: 33.875rem;
  }

  .search-catalog {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15.9375rem;
            flex: 0 0 15.9375rem;
  }
}

@media (min-width: 71.24875em) {
  .footer__logo {
    margin-right: auto;
  }

  .footer__copy {
    margin-right: 3.6875rem;
  }

  .filter__descr {
    position: absolute;
    bottom: 2.875rem;
    white-space: nowrap;
    left: calc(100% + 1.875rem);
  }
}

@media (max-width: 71.24875em) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .hero__body::after {
    bottom: -8.125rem;
    right: -6.25rem;
  }

  .premium__decor {
    width: 25.1875rem;
    top: -3.125rem;
    left: -3.75rem;
    height: 17.625rem;
  }

  .advantages__right p:not(:last-child) {
    margin-bottom: 1rem;
  }

  .filter__content:not(:last-child) {
    margin-bottom: 1rem;
  }

  .products-row__cols {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-item__container {
    gap: 1.25rem;
  }

  .search__cols {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 61.99875em) {
  .title {
    font-size: 2rem;
  }

  .header__body {
    padding: 1.25rem 0rem;
  }

  .header__logo {
    position: relative;
    z-index: 4;
  }

  .header__decor {
    display: none;
  }

  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    background-color: #fff;
    padding-top: 5.875rem;
    overflow-y: auto;
    padding-bottom: 1.25rem;
    z-index: 3;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #3d3d3d;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }

  .footer__copy {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .hero {
    padding-bottom: 6.25rem;
  }

  .hero__body {
    padding-top: 4.375rem;
  }

  .hero__body::after {
    width: 25.1875rem;
    height: 18.4375rem;
    right: -4.375rem;
    bottom: -5rem;
  }

  .hero__title {
    font-size: 3.5rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .hero__descr:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .hero-form {
    border-radius: 0.3125rem;
  }

  .premium__cols {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .premium__cols:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .premium__body {
    padding: 1.75rem 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .premium__decor {
    left: auto;
    top: auto;
    bottom: -3.125rem;
    right: -6.25rem;
  }

  .premium__label {
    font-size: 2rem;
  }

  .col-premium__cap {
    font-size: 2.25rem;
  }

  .col-premium__cap:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .advantages {
    padding: 1.6875rem 0rem 2.5rem;
  }

  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__title:not(:last-child) {
    margin-bottom: 2.25rem;
  }

  .about {
    padding: 1.5rem 0rem;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__title:not(:last-child) {
    margin-bottom: 1.75rem;
  }

  .callback-about__title:not(:last-child) {
    margin-bottom: 2.25rem;
  }

  .filter {
    padding: 2.8125rem 0rem;
  }

  .form-filter {
    padding: 1.375rem 1rem;
    gap: 1.25rem;
  }

  .form-filter__row {
    gap: 1.25rem;
  }

  .products {
    padding-bottom: 3.125rem;
  }

  .products-row:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .products-row__label:not(:last-child) {
    margin-bottom: 0.875rem;
  }

  .products-row__cols {
    gap: 0.9375rem;
  }

  .product-item {
    padding-bottom: 2.5rem;
  }

  .product-item__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product-item__image {
    max-width: 31.25rem;
    width: 100%;
  }

  .search {
    padding-bottom: 8.125rem;
  }

  .search__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .search__cols {
    gap: 0.9375rem;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: 1.75rem;
  }

  .header__body {
    padding: 0.75rem 0rem;
  }

  .menu__body {
    padding-top: 4.875rem;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .hero {
    padding-bottom: 4.375rem;
  }

  .hero__body {
    padding-top: 3.125rem;
  }

  .hero__body::after {
    display: none;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__descr:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .hero-form {
    gap: 1.25rem;
    padding: 1.25rem 0.875rem;
  }

  .premium {
    padding-top: 1.875rem;
  }

  .premium__cols {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .premium__cols:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .premium__decor {
    display: none;
  }

  .premium__zevs {
    width: 13.3125rem;
  }

  .premium__label {
    font-size: 1.75rem;
  }

  .advantages {
    padding: 1.5rem 0rem;
  }

  .filter {
    padding: 2rem 0rem;
  }

  .filter__title {
    padding: 0.75rem 0.5rem;
  }

  .filter__descr {
    font-size: 1rem;
  }

  .form-filter {
    padding: 1.125rem 0.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 9.125rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .products {
    margin-bottom: 2.25rem;
  }

  .products-row:not(:last-child) {
    margin-bottom: 1.625rem;
  }

  .products-row__cols {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .product-item .product-codes__item {
    font-size: 1rem;
  }

  .product-item {
    padding-bottom: 2rem;
  }

  .product-item__label {
    font-size: 1.375rem;
  }

  .search {
    padding-bottom: 6.25rem;
  }

  .search__cols {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 29.99875em) {
  .hero {
    padding-bottom: 3.125rem;
  }

  .hero__title {
    font-size: 2.1875rem;
  }

  .hero-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.75rem;
  }

  .filter__navigation {
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .filter__navigation::-webkit-scrollbar {
    display: none;
  }

  .filter__title {
    white-space: nowrap;
  }

  .filter__body {
    border-top-right-radius: 0;
  }

  .form-filter__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .products-row__cols {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .product-item .product-codes {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .product-item__image {
    height: auto;
  }

  .search__cols {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 23.43625em) {
  .hero__title {
    word-break: break-all;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: rgba(61, 61, 61, 0.8);
  }

  .select__title:hover {
    opacity: 0.8;
  }

  .select__option:hover {
    background: #d9d9d9;
  }

  .menu__link:hover {
    opacity: 0.8;
  }

  .footer__phone:hover {
    opacity: 0.8;
  }

  .footer__mail:hover {
    opacity: 0.8;
  }

  .filter__title:hover {
    background-color: #fff;
  }

  .product__image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .product__name a:hover {
    opacity: 0.8;
  }

  .product-item__content p a:hover {
    opacity: 0.8;
  }

  .search-catalog__title:hover {
    opacity: 0.8;
  }

  .sub-search-spollers__title:hover {
    opacity: 0.8;
  }

  .sub-search-spollers__button:hover {
    background-color: rgba(232, 232, 232, 0.6);
  }
}

.webp .hero__body::after { background: url(../img/hero-decor.webp) 50%/100% no-repeat; }

.webp .premium__decor { background: url(../img/premium-decor.webp) 50%/100% no-repeat; }